<app-navigate></app-navigate>
<main role="main">

  
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">{{ title }}</h1>
        <p>La vie peut parfois sembler écrasante, mais ça n'a pas à être le cas.<br> Avec Todo List, vous gardez tout en un seul lieu, pour faire ce que vous souhaitez et profiter de plus de tranquillité d'esprit en cours de route.</p>
        
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Planifiez</h2>
          <p>Planifiez vos projets et vos objectifs , 
            étape par étape avec les sections de projets et les sous-tâches.</p>
          
        </div>
        <div class="col-md-4">
          <h2>N'oubliez plus</h2>
          <p>N'oubliez plus les échéances et créez des habitudes
              avec les dates d'échéance et les dates d'échéance récurrentes, comme "tous les lundis".
          </p>
         
        </div>
        <div class="col-md-4">
          <h2>Commencez</h2>
          <p>Commencez chaque jour en étant détendu et aux commandes
              Visualisez clairement tout ce que vous devez faire, et ne perdez plus de vue une tâche importante.
          </p>
         
        </div>
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>
  <app-footer></app-footer>